{% extends "base.html" %}
{% block base %}
<div>
    <div class="container" style="width: 700px">
        <div class="form row">
            <div class="form-horizontal col-md-offset-3" id="login_form">
                <h3 class="form-title">接口测试平台</h3>
                <form action="/index/" method="post">
                    <div class="col-md-9">
                        <div class="form-group">
                            <i class="fa fa-user fa-lg"></i>
                            <input class="form-control required" type="text" placeholder="Username" id="username" name="username" autofocus="autofocus" maxlength="20"/>
                        </div>
                        <div class="form-group">
                                <i class="fa fa-lock fa-lg"></i>
                                <input class="form-control required" type="password" placeholder="Password" id="password" name="password" maxlength="32"/>
                        </div>
                        <div style="color: red">{{error}}</div>
                        {% csrf_token %}
                        <div class="form-group col-md-offset-9">
                            <!--<input type="submit" class="btn btn-success pull-right" value="Login" name="submit">-->
                            <button type="submit" class="btn btn-success pull-right" name="submit">登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--<body>-->
    <!--<form action="/index/" method="post"> &lt;!&ndash;post请求地址结尾必须带/&ndash;&gt;-->
        <!--UserName:-->
        <!--<input type="text" name="username">-->
        <!--<br>-->
        <!--PassWord:-->
        <!--<input type="password" name="password">-->
        <!--<br>-->
        <!--<div style="color: red">{{error}}</div>-->
         <!--{% csrf_token %}-->
        <!--<input type="submit" value="Login">-->
    <!--</form>-->
<!--</body>-->
