{% extends "base.html" %}
{% block base %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/project/">接口测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a href="/project/" class="glyphicon glyphicon-th-large">&nbsp;项目管理</a>
                </li>
                <li>
                    <a href="/module/" class="glyphicon glyphicon-th">&nbsp;模块管理</a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">用例管理</a></li>
                <li><a href="">任务管理</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Mock Server</a></li>
                <li><a href="">测试工具</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!--项目列表-->
            {% if type == "list" %}
            <h2 class="sub-header">项目列表
                <button type="button" class="btn btn-xs btn-primary" style="float: right;"
                        onclick="location.href='/project/add_project/'">Add Project
                </button>
            </h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Create Time</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {% for project in projects %}
                    <tbody>
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.describe }}</td>
                        <td>
                            {% if project.status == True %}
                            Open
                            {% else %}
                            Close
                            {% endif %}
                        </td>
                        <td>{{ project.create_time | date:"Y-m-d H:i:s" }}</td> <!--日期格式化-->
                        <td>
                            <a href="/project/edit_project/{{ project.id }}/" class="glyphicon glyphicon-pencil" style="width: 30px"></a>
                            <a href="/project/delete_project/{{ project.id }}" class="glyphicon glyphicon-trash"></a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            {% endif %}

            <!--添加项目-->
            {% if type == "add" %}
            <h4 class="sub-header">Add Project</h4>
            <form class="form-horizontal" method="post" action="/project/add_project/">
                <div class="control-group">
                    <label class="control-label">Project Name</label>
                    <div class="controls">
                        <input type="text" name="name" class="form-control">
                        <span style="color: red">{{ name_error }}</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Description</label>
                    <div class="controls">
                        <div class="textarea">
                            <textarea class="form-control" name="describe" style="width:990px"> </textarea>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Status</label>
                    <div class="controls" style="height: 30px;">
                        <label class="radio inline" style="left: 20px; float: left;">
                            <input type="radio" value="1" checked="checked" name="status">
                            Open
                        </label>
                        <label class="radio inline" style="left: 80px; float: left;">
                            <input type="radio" value="0" name="status">
                            Close
                        </label>
                    </div>
                </div>

                {% csrf_token %}
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
            {% endif %}

            <!--编辑项目-->
            {% if type == "edit" %}
            <h4 class="sub-header">Edit Project</h4>
            <form action="/project/edit_project/{{ id }}/" method="post">
                <div>
                    {{ project_form.as_p }}
                </div>
                {% csrf_token %}
                <div class="controls">
                    <button class="btn btn-success">Save</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

