{% extends "base.html" %}
{% block base %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/project/">接口测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a href="/project/" class="glyphicon glyphicon-th-large">&nbsp;项目管理</a>
                </li>
                <li>
                    <a href="/module/" class="glyphicon glyphicon-th">&nbsp;模块管理</a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">用例管理</a></li>
                <li><a href="">任务管理</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Mock Server</a></li>
                <li><a href="">测试工具</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!--项目列表-->
            {% if type == "list" %}
            <h2 class="sub-header">项目列表
                <button type="button" class="btn btn-xs btn-primary" style="float: right;" onclick="location.href='/project/add_project/'">Add Project</button>
            </h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Create Time</th>
                    </tr>
                    </thead>
                    {% for project in projects %}
                    <tbody>
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.describe }}</td>
                        <td>
                            {% if project.status == True %}
                            Open
                            {% else %}
                            Close
                            {% endif %}
                        </td>
                        <td>{{ project.create_time | date:"Y-m-d H:i:s" }}</td> <!--日期格式化-->
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            {% endif %}

             <!--添加项目-->
            {% if type == "add" %}
                <h4 class="sub-header">编辑项目</h4>
                <form action="/project/add_project/{{ id }}/" method="post">
                    {{ form.as_p }}
                    <input class="form-horizontal" type="submit" value="保存">
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

